<!doctype html>
<html>
<head>
</head>
<style>
.CI{
	background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: center;
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
input {
  display: inline-block;
  float: left;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 714px;
    text-align: right;
}

</style>
<body>
	<h1 align="center">Compund Interest</h1>
	<div class="CI">
	<label>Principal amount(P):</label>
	<input type="text" name="principalbox" value="{{ row[0] }}">
	<br/>
	<br/>
	<label>Annual rate in % (r):</label>
	<input type="text" name="annualbox" value="{{ row[1] }}">
	<br/>
	<br/>
	<label>Compunds per year(n):</label>
	<input type="text" name="compound" value="{{ row[2] }}">
	<br/>
    <br/>
    <label>	Years(t):</label>
	<input type="text" name="year" value="{{ row[3] }}">
	<br/>
	<br/>
	<button> Calculate </button>
	<br/>
	<br/>
	<label>Total Amount</label>
	<output name="Total"></output>
	</body>
</div>
</html>